services:
  mongodb:
    build: ./mongodb
    image: shivaraju529/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  catalogue:
    build: ./catalogue
    image: shivaraju529/catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb

  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data

  mysql:
    build: ./mysql
    image: mysql:v1
    container_name: shivaraju529/mysql
    volumes:
    - mysql:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes: # -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123

  user:
    build: ./user
    image: shivaraju529/user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis

  cart:
    build: ./cart
    image: shivaraju529/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  
  shipping:
    build: ./shipping
    image: shivaraju529/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./payment
    image: shivaraju529/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user

  frontend:
    build: ./frontend
    image: shivaraju529/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment

networks:
  default:
    driver: bridge
    name: roboshop
    external: true

volumes:
  mongodb: # docker volume create mongodb. /var/lib/docker/volumes
  redis:
  mysql:
  rabbitmq:

   